<nav>
  <a href="/">
    <img src="/assets/img/cat.png" alt="Logo de um gato" />
  </a>
  <div class="nav-bar">
    <a href="#" data-bs-toggle="modal" data-bs-target="#loginModal" >LOGIN</a>
    <a href="/register" data-bs-toggle="modal" data-bs-target="#registerModal">REGISTRAR</a>
  </div>
</nav>